@media (max-width: 414px) {
 
    
    .container_text{
        display: flex !important;
        align-items: center !important;
        flex-direction: column;
        width: 300px !important;
        height: 400px !important;
    }

    .text {
        text-align: center !important;
        width: 100px !important;
    }

    .div_content {
        width:auto !important;
        text-align: center !important;
    }
    
    .div_banner {
        height: auto !important;
        width: 100% !important;
    }

    h1 {
        width: 200px !important;
        font-size: 15px !important;
    }
    
    h5 {
        width: 280px !important;
        font-size: 12px !important;
    }

    p {
        width: auto !important;
        font-size: 12px !important;
    }
}