#custom-nav-link {
  color: white
}


#basic-nav-dropdown {
  color: white
}

.navbar-custom {
  display: flex;

}

#contend {
  display: flex;
  justify-content: center;
  align-items: center;
}

#teste {
  margin: auto;
  width: 120px;
  display: flex;
}


#links {
  width: 400px;
justify-content: center;
align-items: center;
margin: none;
}