* {
  margin: 0;
  padding: 0;
}

#custom-nav-link {
  color: white;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
}

#custom-nav-link:hover {
  color: rgb(214, 193, 193);
}

#basic-nav-dropdown {
  color: white;
}

#basic-nav-dropdown:hover {
  color: rgb(214, 193, 193);
}

#contend {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-align: justify;
  background: white;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

@media (max-width: 414px) {
  .paragraph{
  font-size: 8px !important ;
 }
}