#custom-nav-link {
  color: white;
  margin-right: 10px;
  text-decoration: none; 
  position: relative;
}

#custom-nav-link:hover {
  color: #ffffff; 
  border-bottom: 1px solid #ffffff; 
}

#basic-nav-dropdown {
  color: white;
}

#basic-nav-dropdown:hover {
  border-bottom: 1px solid #ffffff; 

}

#contend {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-align: justify;
  background: white;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}
