@media (max-width: 414px) {
    #containerAlvara {
        height: 1200px !important;
    }
    
    #text_style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .container_text{
        display: flex !important;
        align-items: center !important;
        flex-direction: column;
        width: 300px !important;
        height: 400px !important;
    }
    
    .div_banner {
        height: auto !important;
    }

    h1 {
        width: 314px !important;
        font-size: 15px !important;
        height: 0px;
    }
    
    h5 {
        width: auto !important;
        font-size: 12px !important;
    }

    p {
        width: auto !important;
        font-size: 12px !important;
    }
}












