@media (max-width: 1024px) {
    #section-four {
        height: 2100px !important;
        padding: 60px 0px 100px 0px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center;
        justify-content: space-around !important;
    }
}

@media (max-width: 768px) {
    #section-four {
        display: flex !important;
        height: 2100px !important;
        padding: 60px 0px 100px 0px !important;
        flex-direction: column !important;
        justify-content: space-around !important;
        align-items: center !important;
    }

    .divtitle {
        top: 50px !important;
    }

    .title {
        padding: -10px !important;
        position: absolute;
        width: 500px;
        top: -30px;
        text-align: center;
    }
}

@media (max-width: 430px) {
    #section-four {
        height: 2200px !important;
    }

    .title {
        width: 300px !important;
    }

    .cards {
        width: 350px !important;
        height: 640px !important;
    }
}

@media (max-width: 414px) {
    #section-four {
        height: 2200px !important;
    }

    .title {
        width: 300px !important;
    }

    .cards {
        width: 320px !important;
        height: 640px !important;
    }
}


@media (max-width: 390px) {
    #section-four {
        height: 2200px !important;
    }

    .title {
        width: 300px !important;
    }

    .cards {
        width: 320px !important;
        height: 640px !important;
    }
}