@media (max-width: 768px) {
    .carousel {
        height: 400px !important;
    }

    .carousel_caption_First {
        top: -9px !important;
    }

    .carousel_caption_second {
        top: -20px !important;
    }

    .carousel_caption_third {
        top: -20px !important;
    }

    .h1First_slide {
        font-size: 40px !important;
    }
    
    .h1Second_slide {
        font-size: 40px !important;
    }

    .h1Third_slide {
        font-size: 40px !important;
    }
}


@media (max-width: 390px) {
    .carousel {
        height: 220px !important;
    }

    .carousel_caption_First {
        top: 25px !important;
    }

    .carousel_caption_second {
        top: 25px !important;
    }

    .carousel_caption_third {
        top: 25px !important;
    }

    .h1First_slide {
        font-size: 12px !important;
    }
    
    .h1Second_slide {
        font-size: 12px !important;
    }

    .pSecond_slide {
        font-weight:normal;
        font-size: 9px;
    }

    .h1Third_slide {
        font-size: 12px !important;
    }
}